version: "3.8"

services:
  localstack:
    container_name: "${LOCALSTACK_DOCKER_NAME:-localstack-main}"
    image: localstack/localstack-pro
    ports:
      - "127.0.0.1:4566:4566"            # LocalStack Gateway
      - "127.0.0.1:4510-4559:4510-4559"  # external services port range
      - "5000:5000"
    environment:
      # LocalStack configuration: https://docs.localstack.cloud/references/configuration/
      - DEBUG=${DEBUG:-0}
      - LOCALSTACK_AUTH_TOKEN=${LOCALSTACK_AUTH_TOKEN- }
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
      - "./init.sh:/etc/localstack/init/ready.d/init.sh"
    networks:
     - app-network

  terraform-dev:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: terraform-dev
    volumes:
      - .:/app
      - /var/run/docker.sock:/var/run/docker.sock
    depends_on:
      - localstack
    environment:
      - LOCALSTACK_DOCKER_NAME=${LOCALSTACK_DOCKER_NAME:-localstack-main}
      - AWS_ENDPOINT_URL=http://localstack:4566
      - AWS_DEFAULT_REGION=us-east-1
      - AWS_ACCESS_KEY_ID=test
      - AWS_SECRET_ACCESS_KEY=test
    networks:
     - app-network
    stdin_open: true
    tty: true

networks:
  app-network:
    driver: bridge