name: Terraform Destroy

on:
  workflow_call:
    inputs:
      plan_artifact:
        type: string
        required: true
        description: "Name of the destroy plan artifact to apply"
  workflow_dispatch:
    inputs:
      plan_artifact:
        type: string
        required: true
        description: "Name of the destroy plan artifact to apply"

jobs:
  destroy:
    runs-on: ubuntu-latest
    environment: production  # requires approval
    permissions:
      id-token: write
      contents: write
    env:
      CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_TOKEN }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.13.5"

      - name: AWS OIDC Auth
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::368339042148:role/asp_proj-terraform-deploy
          aws-region: ap-southeast-1

      - name: Download Destroy Plan Artifact
        uses: actions/download-artifact@v4
        with:
          name: ${{ inputs.plan_artifact }}
          path: terraform/

      - name: Terraform Init
        working-directory: terraform
        run: terraform init -input=false

      - name: Terraform Destroy (Apply Destroy Plan)
        working-directory: terraform
        run: terraform apply -input=false tfdestroy

      - name: Notify Success
        if: success()
        run: echo "Terraform destroy completed successfully!"

      - name: Notify Failure
        if: failure()
        run: |
          echo "Terraform destroy failed!"
          exit 1
